@model Entities.AdminDashboard
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    .statistics-body .avatar {
        height: 48px;
    }
</style>
<div class="content-body">
    <section id="dashboard-ecommerce">
        <div class="card card-statistics">
            <div class="card-header">
                <h4 class="card-title">Statistics</h4>
                <div class="d-flex align-items-center">
                </div>
            </div>
            <div class="card-body statistics-body">
                <div class="row">

                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                        <div class="d-flex flex-row">
                            <div class="avatar bg-light-danger me-2">
                                <div class="avatar-content">
                                    <i data-feather="box" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="my-auto ml-2">
                                <h4 class="fw-bolder mb-0">@Model.PendingApps</h4>
                                <p class="card-text font-small-3 mb-0">Pending Applications</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                        <div class="d-flex flex-row">
                            <div class="avatar bg-light-secondary me-2">
                                <div class="avatar-content">
                                    <i data-feather="box" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="my-auto ml-2">
                                <h4 class="fw-bolder mb-0">@Model.InprogressApps</h4>
                                <p class="card-text font-small-3 mb-0">In Progress Applications</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                        <div class="d-flex flex-row">
                            <div class="avatar bg-light-primary me-2">
                                <div class="avatar-content">
                                    <i data-feather="box" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="my-auto ml-2">
                                <h4 class="fw-bolder mb-0">@Model.CompletedApps</h4>
                                <p class="card-text font-small-3 mb-0">Completed Applications</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                        <div class="d-flex flex-row">
                            <div class="avatar bg-light-warning me-2">
                                <div class="avatar-content">
                                    <i data-feather="box" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="my-auto ml-2">
                                <h4 class="fw-bolder mb-0">@Model.CanceledApps</h4>
                                <p class="card-text font-small-3 mb-0">Canceled Applications</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <div class="d-flex flex-row">
                            <div class="avatar bg-light-info me-2">
                                <div class="avatar-content">
                                    <i data-feather="user" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="my-auto ml-2">
                                <h4 class="fw-bolder mb-0">@Model.TotalUsers</h4>
                                <p class="card-text font-small-3 mb-0">Customers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/app-assets/js/chartjs/chart.min.js"></script>
<script src="/app-assets/js/jquery.sparkline.min.js"></script>
<script src="/app-assets/js/apexcharts/apexcharts.min.js"></script>
<script src="/app-assets/js/widget-chart.js"></script>