@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- End Google Tag Manager -->
    <title>Moon Group - Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="/login-assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/login-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/login-assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/mon.jpg" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/login-assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="/login-assets/css/skins/default.css">
    <link href="~/sweet alert/sweetalert2.min.css" rel="stylesheet" />
</head>
<body id="top">
    <div class="page_loader"></div>
    <!-- Login 23 start -->
    <div class="login-23 tab-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-pad-0 bg-img none-992">
                    <div class="informeson">
                        <h3>Welcome to our secure portal</h3>
                        <p>
                            Our online platform is a secure way for you to share information and communicate with your tax preparer.
                        </p>
                        <p>
                            You’re one step away from working with your preparer. If this is your first time here, please register for an account
                            to get started. If you are a returning user, click log in and you are on your way
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">

                </div>
                <div class="col-lg-7 col-md-12 col-pad-0 form-section">
                    <div class="login-inner-form">
                        <div class="details">
                            <a href="#">
                                <img src="~/mon.png" />
                            </a>
                            <h3>Recover Your Password</h3>
                            <form action="@Url.Action("ForgotPassword","Home")" method="Post" class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />
                                <div class="form-group form-box">
                                    <input type="email" name="email" class="form-control" placeholder="Email Address" aria-label="Email Address">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-md btn-theme w-100">Submit</button>
                                </div>
                                <p>Back to Login?<a href="@Url.Action("Login","Home")"> Login here</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login 13 end -->
    <!-- External JS libraries -->
    <script src="/login-assets/js/jquery.min.js"></script>
    <script src="/login-assets/js/popper.min.js"></script>
    <script src="/login-assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/app-assets/js/custom.js"></script>
    <script src="~/sweet alert/sweetalert2.min.js"></script>
    <script src="~/sweet alert/sweet-alerts.init.js"></script>
    <!-- Custom JS Script -->
    <script>
        $(function () {
            if ('@ViewBag.Message' == 'Success') {
                sweetMessage("Success!", "We have sent you link please check", "success");
            }
        })

    </script>
</body>
</html>