@{
    Layout = null;
}
@model Entities.RegisterUser
<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- End Google Tag Manager -->
    <title>Moon Group - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="/login-assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/login-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/login-assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/mon.jpg" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/login-assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="/login-assets/css/skins/default.css">
    <link href="~/app-assets/css/pwd_strength.css" rel="stylesheet" />
</head>
<body id="top">
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>
    <!-- Login 23 start -->
    <div class="login-23 tab-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-pad-0 bg-img none-992">
                    <div class="informeson">
                        <div class="btn-section">
                            <a href="@Url.Action("Login","Home")" class="link-btn">Login</a>
                            <a href="/Invite/themoongroup" class="link-btn active">Register</a>
                        </div>
                        <h3>Welcome to our secure portal</h3>
                        <p>
                            Our online platform is a secure way for you to share information and communicate with your tax preparer.
                        </p>
                        <p>
                            You’re one step away from working with your preparer. If this is your first time here, please register for an account
                            to get started. If you are a returning user, click log in and you are on your way
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">

                </div>
                <div class="col-lg-7 col-md-12 col-pad-0 form-section">
                    <div class="login-inner-form">
                        <div class="details">
                            <a href="login-23.html">
                                <img src="~/mon.jpg" />
                            </a>
                            <h3>Create An Account</h3>
                            @using (Html.BeginForm("Register", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal login-form", role = "form", id = "Form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" id="companyId" name="companyId" value="@ViewBag.companyId" />
                                <div class="form-group form-box">
                                    <label>
                                        Email
                                    </label>
                                    <input type="email" name="Email" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="form-group form-box">
                                    <label>
                                        First Name
                                    </label>
                                    <input type="text" name="FirstName" class="form-control" placeholder="Enter First Name">
                                </div>
                                <div class="form-group form-box">
                                    <label>
                                        Last Name
                                    </label>
                                    <input type="text" name="LastName" class="form-control" placeholder="Enter Last Name">
                                </div>
                                <div class="form-group form-box">
                                    <label class="form-optional">
                                        Landline Number
                                    </label>
                                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control phoneNumber" placeholder="(xxx)xxx-xxxx">
                                </div>
                                <div class="form-group form-box">
                                    <label>
                                        Mobile number
                                    </label>
                                    <input type="text" id="MobileNumber" name="MobileNumber" class="form-control phoneNumber" placeholder="(xxx)xxx-xxxx">
                                </div>
                                <div class="form-group form-box">
                                    <label class="form-optional">
                                        Work Number
                                    </label>
                                    <input type="text" id="WorkNumber" name="WorkNumber" class="form-control phoneNumber" placeholder="(xxx)xxx-xxxx">
                                </div>
                                <div class="form-group form-box">
                                    <label>
                                        Password
                                    </label>
                                    <input type="password" name="Password" data-indicator="pwindicator" class="form-control pwstrength" autocomplete="new-password" placeholder="Enter Password" aria-label="Password">
                                    <div id="pwindicator" class="pwindicator">
                                        <div class="bar"></div>
                                        <div class="label"></div>
                                    </div>
                                </div>
                                <div class="form-group form-box">
                                    <label>
                                        Confirm Password
                                    </label>
                                    <input type="password" name="ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Enter Confirm Password" aria-label="Password">
                                </div>
                                <div class="form-group form-box">
                                    <label>
                                        Which tax year is this for?
                                    </label>
                                    <select class="form-control" name="Year">
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                    </select>
                                </div>
                                <div class="form-group form-box">
                                    <label>
                                        What tax filing is this for?
                                    </label>
                                    @Html.DropDownList("ApplicationId", (IEnumerable<SelectListItem>)ViewBag.Applications, new { @class = "form-control" })
                                </div>
                                <div class="form-group form-box checkbox clearfix">
                                    <div class="form-check checkbox-theme">
                                        <input class="form-check-input" type="checkbox" value="" id="termsOfService">
                                        <label class="form-check-label form-optional" for="termsOfService">
                                            I agree to the<a href="#" style=" color: #d6af39;" class="terms">terms of service</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-md btn-theme w-100">Register</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Login 3 end -->
    <!-- External JS libraries -->
    <script src="/login-assets/js/jquery.min.js"></script>
    <script src="/login-assets/js/popper.min.js"></script>
    <script src="/login-assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/app-assets/js/pwtstrength.min.js"></script>
    <script src="~/cleave-js/dist/cleave.min.js"></script>
    <script src="~/cleave-js/dist/addons/cleave-phone.us.js"></script>
    <script>
        $(function () {
            $(".pwstrength").pwstrength();
            var cleavePN = new Cleave('#WorkNumber', {
                phone: true,
                phoneRegionCode: 'us'
            });
            var cleavePN = new Cleave('#MobileNumber', {
                phone: true,
                phoneRegionCode: 'us'
            });
            var cleavePN = new Cleave('#PhoneNumber', {
                phone: true,
                phoneRegionCode: 'us'
            });
        })
    </script>
    <!-- Custom JS Script -->
</body>
</html>

